html{
background-image: url(e3background.jpg);
background-size:cover;
font-family: 'Share Tech Mono', monospace;
color: white;
}
.asd{
  height: 42px;
  padding: 0px;
  background-color: black;
}
li{
  float: left;
  list-style: none;
  /*padding: 0 90px;*/
  padding: 0 7%;
  text-align: center;
  line-height: 42px;
  height: 42px;
}
.pdnglf{
  /*padding-left: 283px;*/
  padding-left: 18%;
}
.flright{
  float: right;
}

.header{
    background: red;
    background: -webkit-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: -o-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: -moz-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: linear-gradient(to right ,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C); 
    margin-top: 0px;
    margin-bottom: 0px;
}
.location_text{
    /*width: 400px;*/
    background: -webkit-linear-gradient(left,black,#7B7D7C);
    background: -o-linear-gradient(left,black,#7B7D7C);
    background: -moz-linear-gradient(left,black,#7B7D7C);
    background: linear-gradient(to right ,black,#7B7D7C); 
}
.btmtxt{
  margin-bottom: 0px;
  margin-top: 17px;
}
a{
    color: white;
    text-decoration: none;
}
.e3logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}