html{
background-image: url(e3background.jpg);
background-size:cover;
font-family: 'Share Tech Mono', monospace;
color: white;
}
.flright{
  float: right;
}
.center{
  padding-left: 70px;
}
.header{
    background: red;
    background: -webkit-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: -o-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: -moz-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: linear-gradient(to right ,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C); 
    margin-top: 0px;
}
.location_text{
    /*width: 400px;*/
    background: -webkit-linear-gradient(left,black,#7B7D7C);
    background: -o-linear-gradient(left,black,#7B7D7C);
    background: -moz-linear-gradient(left,black,#7B7D7C);
    background: linear-gradient(to right ,black,#7B7D7C); 
}
.btmtxt{
  margin-bottom: 0px;
  margin-top: 17px;
}
a{
    color: white;
    text-decoration: none;
}
.e3logo{
    display: block;
    margin-left: auto;
    margin-right: auto
}