html{
background-image: url(e3background.jpg);
background-size:cover;
font-family: 'Share Tech Mono', monospace;
color: white;
}
.header{
    background: red;
    background: -webkit-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: -o-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: -moz-linear-gradient(left,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C);
    background: linear-gradient(to right ,black,#7B7D7C,black,#7B7D7C,black,#7B7D7C); 
}
.location_text{
    width: 400px;
    background: -webkit-linear-gradient(left,black,#7B7D7C);
    background: -o-linear-gradient(left,black,#7B7D7C);
    background: -moz-linear-gradient(left,black,#7B7D7C);
    background: linear-gradient(to right ,black,#7B7D7C); 
}
a{
    color: white;
    text-decoration: none;
}